@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--slate-300);
}

article {
  background-color: var(--white);
  max-width: 350px;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: slide-in 0.5s ease-out;
}

article img {
  width: 100%;
  border-radius: 15px;
}

article h1 {
  color: var(--slate-900);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.1;
  padding: 0 20px;
}

article p {
  color: var(--slate-500);
  font-size: var(--font-size);
  line-height: 1.4;
  padding: 0 20px;
  margin-bottom: 20px;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
